header {
  background: #fff;
  border-bottom: solid;
  border-bottom-width: 100%;
  border-color: #cccccc;
  height: 77px;
  width: 100%;
}

nav {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  size: 18pt;
  float: right;
  padding-top: 30px;
  margin-right: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  padding: 0px 25px 0px 25px;
  border-right: 1px solid #dddddd;
}

li:last-child {
  border-right: none;
}

a:link {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  text-decoration: none;
}
a:visited {
  color: #4aaaa5;
}
a :hover {
  color: #ffce6e;
}

h1 {
  font-family: "Georgia", Times, Times New Roman, serif;
  color: #4aaaa5;
  text-align: center;
  font-size: 50pt;
  padding: 20px 20px 0px 20px;
}
